*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.right{
    border: 1px solid gray;
    width: 30vw;
}
.right>.name1{
    border-bottom: 1px solid gray;
    background-color: #F0F2F5;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.right>.name2{
    border-bottom: 1px solid gray;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
/* .right>.name2>form{
    border: 1px solid red;
    font-size:20px ;
    width: 100vw;
    height: 10vh;
} */
.right>.name3{
    border-bottom: 1px solid gray;
    height: 50px;
    align-items: center;
    display: flex;
    gap: 200PX;
    padding: 2px;
}
.right>.name4,.name5,.name6,.name7,.name8,.name9{
    border-bottom: 1px solid gray;
    height: 73px;
    align-items: center;
    display: flex;
    gap: 100px;
    padding: 2px;
}
.left{
    background-color: #F0F2F5;
    width: 100vw;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.left>button{
    background-color: #017561;
    color: white;
    border-radius:50px ;
    height: 40px;
    width: 100px;
}